{% extends 'templates/layout.html' %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
        <h1>Coming soon!</h1>
        <ul>
            <li>GitHub: <a href="https://github.com/miguelpedregosa" title="miguelpedregosa">miguelpedregosa</a>
            <li>Twitter: <a href="https://twitter.com/miguelpedregosa" title="@miguelpedregosa">@miguelpedregosa</a>
            </li>
            <li>LinkedIn: <a href="https://es.linkedin.com/in/mipedregosa" title="Miguel Ángel Pedregosa">Miguel Ángel
                Pedregosa</a></li>
            <li>Google +: <a href="https://plus.google.com/+MiguelAngelPedregosa" title="Miguel Ángel Pedregosa">Miguel
                Ángel
                Pedregosa</a></li>
        </ul>
    </div>
</div>
{% endblock %}