<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Miguel Ángel Pedregosa{% endblock %}</title>
    <link rel="stylesheet" href="css/foundation.min.css">
</head>
<body>
{% block content %} {% endblock %}
{% block scripts %}
<script src="js/jquery-2.1.4.min.js"></script>
<script src="js/foundation.min.js"></script>
{% endblock %}
</body>
</html>